<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>CatchApp</title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/profilefont.css' %}" rel='stylesheet' type="text/css"/>
    <link href="{% static 'css/profilestyle.css' %}" rel='stylesheet' type="text/css"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="{% static 'application/x-javascript' %}"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href="{% static '//fonts.googleapis.com/css?family=Montserrat:400,700' %}" rel='stylesheet' type='text/css'>
    <script type="{% static 'text/javascript' %}" src="js/jquery-1.11.1.min.js"></script>
    <script type="{% static 'text/javascript' %}" src="js/login.js"></script>
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <!--Animation-->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css'/>
    <script>
        new WOW().init();
    </script>
    <style>
        ::placeholder{
            color:#ffffff;

        }
    </style>
    <script>
    function website_validation() {
        var select_type = document.getElementById('select_type').value;

        var search_term = document.getElementById('search_term').value;
        if(select_type == "" ) {
            document.getElementById("div1").innerHTML = "Please Select Your Search Type !!";
            document.getElementById("div1").style.color = "white";
            return false;


        }
        else{

            if ( search_term == "" || search_term == null) {


                document.getElementById("div1").innerHTML = "Please Enter Your Search term !!";
                document.getElementById("div1").style.color = "white";
                return false;

            }
            else {
                 if (select_type == 'website') {

                    if (search_term != "" || search_term !== null) {
                        if (search_term.match(/[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+/)) {

                            document.getElementById("div1").innerHTML = "";
                            document.getElementById("div1").style.color = "white";
                        }
                        else {
                            document.getElementById("div1").innerHTML = "Enter the correct Website Name with their extension";
                            document.getElementById("div1").style.color = "white";
                            return false;

                        }
                    }
                }

            }


        }
    }
</script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<div class="header">
		   <div class="col-sm-8 header-left" style="padding: 7.5px 0;">
					 <div class="logo" style="margin-left: -13%;margin-right: 11%;">
            {% if request.session.lid %}
						<a href="/Retryapp/dashboard"><img src="{% static 'images/catchapp.png' %}" alt=""/></a>
                         {% endif %}
                     {% if request.session.lid == None %}
						<a href="/Retryapp/show"><img src="{% static 'images/catchapp.png' %}" alt=""/></a>
                         {% endif %}

        </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="images/nav.png" alt=""></a>
						    <ul class="nav" id="nav">
						    	<li><a href="/Retryapp/show">Home</a></li>
						    	<li><a href="/Retryapp/popular">New</a></li>
                                <li><a href="/Retryapp/trending">Trending</a></li>
						    	<li><a href="/Retryapp/abt">About</a></li>
						    	<li><a href="/Retryapp/feedback">Feedback</a></li>
                                <li><a href="/Retryapp/contact">Contact Us</a></li>
								<div class="clearfix"></div>
							</ul>
							<script type="text/javascript" src="js/responsive-nav.js"></script>
				    </div>
				     <!-- start search-->

						<!----search-scripts---->
						<script src="/templates/js/classie.js"></script>
						<script src="/templates/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
	    		    <div class="clearfix"></div>
	    	    </div>
	       <div class="col-sm-4 header_right">
       <div id="loginContainer" style="    padding: 2px 2px;
    position: relative;
    background: #e94e38;">
           {% if request.session.lid %}
            <a href="\Retryapp\profile" id="loginButton">
                <img src="{% static request.session.user_image %}" style="    margin: 2px 3px;
    height: 62px;
    width: 60px;
    border-radius: 44%;
    margin-left: 19px;"><p style="margin: 20px 17px; float: right; color: white"><b>{{ request.session.user_name }}</b></p>
            </a><a  href="/Retryapp/logout" style="    float: right;
    margin-top: 4%;
    margin-right: 5%;"><p style="color: white;"><b>logout</b></p></a>
            {% endif %}
             {% if request.session.lid == None %}
                 <a href="\Retryapp\login" id="loginButton">
                <img src="/templates/images/default-profile-1.png" style="    margin: 2px 3px;
    height: 62px;
    width: 60px;
    border-radius: 44%;
    margin-left: 19px;"><p style="margin: 20px 17px; float: right; color: white"><b>Login</b></p>
            </a>
       {% endif %}
            <div id="loginBox">

            </div>
        </div>

            <div id="loginBox">

            </div>
        </div>
	                <div class="clearfix"></div>
   </div>
<div class="banner" style="min-height: 410px; background-image:{% static 'guest.jpg' %};">
     <div class="container_wrap" style="height: 80%; margin-top: 1%;">
        <h1>What are you looking for?</h1>
        <span id="div1"></span>

        <div class="dropdown-buttons">

        </div>

        <form action="/Retryapp/s_term" onsubmit="return website_validation()">
                <div>
                    <span>
                <select name="select_type" id="select_type" style="background: rgba(111, 111, 111, 0.86);
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: white;
    width: 19%;
    text-transform: lowercase;
    border-radius: 44px;">
                    <option value="">Select Your Search Type</option>
                    <option value="application">Application</option>
                    <option value="website">Website</option>
                    <option value="software">Software</option>
                </select>
                        </span>

                <span>
				<input type="text" name="search_term" id="search_term" placeholder="name" style="width: 36%" onfocusout="website_validation()">
                    </span>
                     </div>

			     <h4 style="color: #ffffff;margin-top: -2%;margin-bottom: 2%;font-size: 21px;"><b>For website write name with their extension(e.g.- abc.com) </b> </h4>
                <div class="contact_btn">
	               <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit"></label>

                </div>
			</form>
        <div class="clearfix"></div>
    </div>

</div>
<div class="content_top">
    <div class="container">
        <div class="col-md-4 bottom_nav">
            <div class="content_menu">
                <ul>
                    <li><a href="#">Recommended</a></li>
                    <li><a href="#">Highlights</a></li>
                </ul>
            </div>
        </div>
        <form action="/Retryapp/option">
            <div class="col-md-4 content_dropdown1">
                <div class="content_dropdown">


                    <input type="submit" name="guest" value="Website" style=" width: 90%;
                                                        outline: none;
                                                        color: #96a6a7;
                                                        font-size: 0.8125em;
                                                        border: 1px solid #96a6a7;
                                                        padding: 8px 0px 8px 15px;
                                                        border-radius: 50px;
                                                        background: none;
                                                        text-align: center;
                                                    ">


                </div>
                <div class="content_dropdown">
                    <input type="submit" name="guest" value="Software" style=" width: 90%;
                                                        outline: none;
                                                        color: #96a6a7;
                                                        font-size: 0.8125em;
                                                        border: 1px solid #96a6a7;
                                                        padding: 8px 0px 8px 15px;
                                                        border-radius: 50px;
                                                        background: none;
                                                    ">
                </div>
            </div>
        </form>
 	<div class="col-md-4 bottom_nav">
            <div class="content_menu" style="    margin-bottom: 2%;">
                <ul>

                    <li><a href="/Retryapp/added">Added</a></li>
                    <li class="active"><a href="/Retryapp/profile">Profile</a></li>
                </ul>
            </div>
        </div>
</div>
<div class="living_middle"
     style="    background: no-repeat center;background-size: 100%;background-image:url({% static 'images/Image-1.jpg' %})">
    <div class="main-agileits">
        <div class="inner-w3-agile">
            <!-- left section -->
            <div class="left-section" style="margin-bottom: -12px;">
                <div class="left-btns" style="width: 201%;
    margin-left: -50%;">
                    <a href="/Retryapp/edit" class="btn1">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        Edit Profile</a>

                </div>



                <img src="{% static profile_details.8 %} " height="441.9px" width="391px" style="box-shadow: 2px 3px 28px 0px" alt="img">

            </div>

            <!-- //left section -->
            <!-- right section -->
            <div class="right-w3-agile">
                <div class="right-info" style="height: 428px;
    width: 391px;">
                    <h2 style="    margin-bottom: 8%;margin-top: -10%;">{{ profile_details.1 }}</h2>
                    <span class="designation">{{ profile_details.7 }}</span>

                    <p class="para-wthree">
                        <a href="mailto:example@mail.com">{{ email }}</a>
                    </p>
                   <div>
                       <span><p class="para-wthree" style="font-weight: bold;">Age:</p></span>
                   <span><p class="para-wthree" style="    float: right;
    margin-top: -9%;">{{ profile_details.2 }}</p></span></div>
                    <div>
                        <span><p class="para-wthree" style="font-weight: bold;">Gender:</p></span>
                    <span><p class="para-wthree" style="    float: right;
    margin-top: -8%;">{{ profile_details.3 }}</p></span>
                    </div>
                    <div><span><p class="para-wthree" style="font-weight: bold;">Education:</p></span>
                    <span><p class="para-wthree" style="float: right;
    margin-top: -8%;">{{ profile_details.4 }}</p></span></div>
                    <div><span><p class="para-wthree" style="font-weight: bold;">State:</p></span>
                    <span><p class="para-wthree" style="float: right;
    margin-top: -8%;">{{ profile_details.5 }}</p></span></div>
                    <div><span><p class="para-wthree"style="font-weight: bold;" >Income:</p></span>
                    <span><p class="para-wthree" style="    float: right;
    margin-top: -8%;">{{ profile_details.6 }}</p></span></div>
                    <center>
                    <p class="para-wthree" style="font-weight: bold;">Interests:</p>
                        </center>

                    <p class="para-wthree">{{ interest.0 }}{{ interest.1 }}{{ interest.2 }}{{ interest.3 }}{{ interest.4 }}</p>
                    <p class="para-wthree">{{ interest.5 }}{{ interest.6 }}{{ interest.7 }}{{ interest.8 }}{{ interest.9 }}</p>
                    <p class="para-wthree">{{ interest.10 }}{{ interest.11 }}{{ interest.12 }}{{ interest.13 }}{{ interest.14 }}</p>
                     <p class="para-wthree">{{ interest.15 }}{{ interest.16 }}{{ interest.17 }}{{ interest.18 }}{{ interest.20 }}</p>

                    <br>
                </div>
                <div class="right-grids-w3-agileits">
                    <div class="grids g1">
                        <h6>
                            <a href="/Retryapp/added_app"> Application</a></h6>
                    </div>
                    <div class="grids g2">
                        <h6>
                            <a href="/Retryapp/added_web">Website</a></h6>
                    </div>
                    <div class="grids g3">
                        <h6>
                           <a href="/Retryapp/added_soft">Software</a></h6>
                    </div>
                </div>
            </div>
            <!-- //right section -->
        </div>
    </div>

</div>

<div class="footer" style="min-height: 200px;">
    <div class="container">

        <div class="footer_grids">
            <div class="footer-grid">
                <h4>Our Features</h4>
                <ul class="list1">
                    <li><a href="/Retryapp/show">Home</a></li>
                    <li><a href="/Retryapp/popular">New</a></li>
                                <li><a href="/Retryapp/trending">Trending</a></li>
                    <li><a href="/Retryapp/abt">About</a></li>
                    <li><a href="/Retryapp/feedback">Feedback</a></li>
                    <li><a href="/Retryapp/contact">Contact Us </a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h4>Additional Features</h4>
                <ul class="list1">
                   <li><a href="/Retryapp/profile">Profile</a></li>
                    <li><a href="/Retryapp/added">Manage Application </a></li>
                    <li><a href="/Retryapp/result">Result</a></li>
                     <li><a href="/Retryapp/logout">Logout</a></li>

                </ul>
            </div>
            <div class="footer-grid last_grid">
                <a href="/Retryapp/show"><h4>CatchApp</h4></a>
                <ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s" style="color: white">
                    <li>Think before you download...</li>
                    <li>Detect Fraud Application and get better suggestion</li>

                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</body>
</html>		