<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>CatchApp</title>
    <link href="{% static 'css_result_img/bootstrap_result_img.min.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css_result_img/cobox_result_img.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css_result_img/portfolio_result_img.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css_result_img/style_result_img.css' %}" rel='stylesheet' type='text/css'/>

    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="{% static 'application/x-javascript' %}"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->

    <!--main_template-->
    <link href="{% static '//fonts.googleapis.com/css?family=Montserrat:400,700' %}" rel='stylesheet' type='text/css'>
    <script type="{% static 'text/javascript' %}" src="js/jquery-1.11.1.min.js"></script>
    <script type="{% static 'text/javascript' %}" src="js/login.js"></script>
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <!--Animation-->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css'/>
    <script>
        new WOW().init();
    </script>

<script>
    var count=0;

function myFunction() {
    count=count+1;
    if(count % 2 == 0){
      var a=document.getElementById('detail').style.height = '20px';

      var btndata='Read More';
      document.getElementById("mybtn").innerHTML = btndata;
    }
    else{
      var a=document.getElementById('detail').style.height = 'auto';
      var btndata='Read less';
      document.getElementById("mybtn").innerHTML = btndata;
        }
}


</script>
   <style>
        ::placeholder{
            color:#ffffff;

        }
    </style>
    <script>
    function website_validation() {
        var select_type = document.getElementById('select_type').value;

        var search_term = document.getElementById('search_term').value;
        if(select_type == "" ) {
            document.getElementById("div1").innerHTML = "Please Select Your Search Type !!";
            document.getElementById("div1").style.color = "white";
            return false;


        }
        else{

            if ( search_term == "" || search_term == null) {


                document.getElementById("div1").innerHTML = "Please Enter Your Search term !!";
                document.getElementById("div1").style.color = "white";
                return false;

            }
            else {
                 if (select_type == 'website') {

                    if (search_term != "" || search_term !== null) {
                        if (search_term.match(/[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+/)) {

                            document.getElementById("div1").innerHTML = "";
                            document.getElementById("div1").style.color = "white";
                        }
                        else {
                            document.getElementById("div1").innerHTML = "Enter the correct Website Name with their extension";
                            document.getElementById("div1").style.color = "white";
                            return false;

                        }
                    }
                }

            }


        }
    }
</script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<div class="header">
    <div class="col-sm-8 header-left">
        <div class="logo" style="margin-left: -13%;margin-right: 11%;">
            <a href="/Retryapp/show"><img src="{% static 'images/catchapp.png' %}" alt=""/></a>
        </div>
        <div class="menu">
            <a class="toggleMenu" href="#"><img src="images/nav.png" alt=""/></a>
            <ul class="nav" id="nav">
                <li class="active"><a href="/Retryapp/show">Home</a></li>
                <li><a href="/Retryapp/popular">New</a></li>
                                <li><a href="/Retryapp/trending">Trending</a></li>
                <li><a href="/Retryapp/abt">About</a></li>
                <li><a href="/Retryapp/feedback">Feedback</a></li>
                <li><a href="/Retryapp/conntact">Contact Us</a></li>
                <div class="clearfix"></div>
            </ul>
            <script type="text/javascript" src="js/responsive-nav.js"></script>
        </div>
        <!-- start search-->

        <!----search-scripts---->
        <script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/uisearch.js' %}"></script>
        <script>
            new UISearch(document.getElementById('sb-search'));
        </script>
        <!----//search-scripts---->
        <div class="clearfix"></div>
    </div>
     <div class="col-sm-4 header_right">
       <div id="loginContainer" style="    padding: 2px 2px;
    position: relative;
    background: #e94e38;">
           {% if request.session.lid %}
            <a href="\Retryapp\profile" id="loginButton">
                <img src="{% static request.session.user_image %}" style="    margin: 2px 3px;
    height: 62px;
    width: 60px;
    border-radius: 44%;
    margin-left: 19px;"><p style="margin: 20px 17px; float: right; color: white"><b>{{ request.session.user_name }}</b></p>
            </a><a  href="/Retryapp/logout" style="    float: right;
    margin-top: 4%;
    margin-right: 5%;"><p style="color: white;"><b>logout</b></p></a>
            {% endif %}
             {% if request.session.lid == None %}
                 <a href="\Retryapp\login" id="loginButton">
                <img src="/templates/images/default-profile-1.png" style="    margin: 2px 3px;
    height: 62px;
    width: 60px;
    border-radius: 44%;
    margin-left: 19px;"><p style="margin: 20px 17px; float: right; color: white"><b>Login</b></p>
            </a>
       {% endif %}
            <div id="loginBox">

            </div>
        </div>

            <div id="loginBox">

            </div>
        </div>
    <div class="clearfix"></div>
</div>
<div class="banner" style="min-height: 410px; background-image:{% static 'guest.jpg' %};">
  <div class="container_wrap" style="height: 80%; margin-top: 1%;">
        <h1>What are you looking for?</h1>
        <span id="div1"></span>

        <div class="dropdown-buttons">

        </div>

        <form action="/Retryapp/s_term" onsubmit="return website_validation()">
                <div>
                    <span>
                <select name="select_type" id="select_type" style="background: rgba(111, 111, 111, 0.86);
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: white;
    width: 19%;
    text-transform: lowercase;
    border-radius: 44px;">
                    <option value="">Select Your Search Type</option>
                    <option value="application">Application</option>
                    <option value="website">Website</option>
                    <option value="software">Software</option>
                </select>
                        </span>

                <span>
				<input type="text" name="search_term" id="search_term" placeholder="name" style="width: 36%" onfocusout="website_validation()">
                    </span>
                     </div>

			     <h4 style="color: #ffffff;margin-top: -2%;margin-bottom: 2%;font-size: 21px;"><b>For website write name with their extension(e.g.- abc.com) </b> </h4>
                <div class="contact_btn">
	               <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit"></label>

                </div>
			</form>
        <div class="clearfix"></div>
    </div>

</div>
<div class="content_top">
    <div class="container">
        <div class="col-md-4 bottom_nav">
            <div class="content_menu">
                <ul>
                    <li class="active"><a href="#">Recommended</a></li>
                    <li><a href="#">Highlights</a></li>
                </ul>
            </div>
        </div>
        <form action="/Retryapp/option">
            <div class="col-md-4 content_dropdown1">
                <div class="content_dropdown">


                    <input type="submit" name="guest" value="Website" style=" width: 90%;
                                                        outline: none;
                                                        color: #96a6a7;
                                                        font-size: 0.8125em;
                                                        border: 1px solid #96a6a7;
                                                        padding: 8px 0px 8px 15px;
                                                        border-radius: 50px;
                                                        background: none;
                                                        text-align: center;
                                                    ">


                </div>
                <div class="content_dropdown">
                    <input type="submit" name="guest" value="Software" style=" width: 90%;
                                                        outline: none;
                                                        color: #96a6a7;
                                                        font-size: 0.8125em;
                                                        border: 1px solid #96a6a7;
                                                        padding: 8px 0px 8px 15px;
                                                        border-radius: 50px;
                                                        background: none;
                                                    ">
                </div>
            </div>
        </form>
 	<div class="col-md-4 bottom_nav">
            <div class="content_menu" style="    margin-bottom: 2%;">
                <ul>

                    <li><a href="/Retryapp/added">Added</a></li>
                    <li><a href="/Retryapp/profile">Profile</a></li>
                </ul>
            </div>
        </div>
</div>
<div class="living_middle">
<div class="about-me" id="about">
	<h3 class="text-center slideanim slide" style="margin-top: -5%; margin-bottom: -1%;">Website Result</h3>
    <center><h3 style="margin-top: -5%; margin-bottom: -1%;    font-size: 22px;">Want to See Analysis??? <a href="/Retryapp/login" style="color: #A1B3A4;">login</a></h3></center>
      <h3 class="text-center slideanim slide" style="margin-top: -5%; margin-bottom: -1%;">Website Details From Alexa</h3>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="mydetails slideanim text-center slide" style="height: 461px;">
					<h1>{{ msg.11 }}</h1>
                    <br>


					<p>Global Rank: {{ msg.1 }}</p>
                    <br>
                    <div><span>Rank in {{ msg.10 }}:</span><span>&nbsp;{{ msg.2 }}</span></div>

                    <br><br>
                    <div >
                        <form action="/Retryapp/user_like">
       <span> <a href="{{ visit_site }}" target="_blank" class="btn1 btn-2 btn-2g" style="    margin-left: -3px;width: 161px;height: 35px;border-radius: 0%;padding-left: 32px;padding-top: 8px;">Visit Site</a></span>

                            </form >
    </div>
                    <br>



				</div>
			</div>
			<div class="col-md-8 col-xs-12">
				<div class="myskills slideanim slide">

					<h3 class="text-center" style="margin-top: -2%;">Details</h3>

					<div class="skill-info">
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td><h4>bounce Rate</h4></td>

										<td><p>{{ msg.3 }}</p></td>
									</tr>
									<tr>
										<td><h4>daily time on site</h4></td>

										<td><p>{{ msg.4 }}%</p></td>
									</tr>
									<tr>
										<td><h4>daily page view per visitor</h4></td>
										<td><p>{{ msg.5 }}</p></td>
									</tr>
									<tr>
										<td><h4>total site likinng in</h4></td>
										<td><p>{{ msg.7 }}</p></td>
									</tr>
									<tr>
										<td><h4>loading time</h4></td>

										<td><p>{{ msg.8 }}</p></td>
									</tr>

								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <br>
<br>




    <div class="myskills slideanim slide" style="width: 60%;margin-left: 20%;margin-top: 1%;">
        <h2 style="color: #000;font-family: 'Cinzel', serif;font-size: 25px;line-height: 25px;font-weight: bold;"><center>Audiance Geography</center></h2>
         <h2 style="color: #000; margin-top:-3%;font-family: 'Cinzel', serif;font-size: 20px;line-height: 25px;"><center>Where are this site's visitors located?</center></h2>

        <div class="skill-info">
						<div class="table-responsive">
							<table class="table">
								<tbody>


									<tr>
										<td><h4>Sr. No.</h4></td>
                                        <td><h4>Country</h4></td>
                                        <td><h4>Percent Of visitor</h4></td>
                                        <td><h4>Rank In country</h4></td>


   									</tr>
									 {% for i in b %}<tr>

										<td><h4>{{ forloop.counter }}</h4></td>
                                        <td><h4>{{ i.1 }}</h4></td>
                                        <td><p>{{ i.2 }}</p></td>
                                        <td><p>{{ i.3 }}</p></td>

									</tr>{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
        </div>

    <div class="myskills slideanim slide" style="width: 60%;margin-left: 20%;margin-top: 1%;">
        <div><h2 style="margin-bottom: 1%;color: #000;font-family: 'Cinzel', serif;font-size: 25px;line-height: 25px;font-weight: bold;">Description</h2>
            <p style="width: 1172px;height: 20px;overflow: hidden" id="detail">{{ msg.9 }}</p>
            <button onclick="myFunction()" style="margin-top: 1%;margin-left: 43%;" id="mybtn" class="btn1 btn-2 btn-2g">Read more</button>
        </div>
				</div>
<br>

<div class="container">
		<div class="row">

			<div class="col-md-8 col-xs-12" style="width: 100%;
    margin-left: 0%;">
				<div class="myskills slideanim slide">


					<h3 class="text-center" style="    margin-bottom: -15%;
    margin-top: -2%;">Add Your Reviews..,</h3>

					<div class="skill-info" style="    margin-top: -4%;    margin-bottom: -9%;">
						<div class="table-responsive">
                            <form action="/Retryapp/user_comment" method="post">
          <span>  <input type="text" placeholder="Add Your Comment..." name="comment" style="background: white;border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: black;
    width: 77%;
    text-transform: lowercase;    border-radius: 17px;"></span>
           <span> <input type="submit" class="btn1 btn-2 btn-2g" style="margin-top:15%;width: 232px;height: 50px;border-radius: 17px;padding-left: 32px;padding-top: 15px;    margin-bottom: 5%;" value="Add comment"></span>

                            </form>

                                <br>
                                <br><center>

                                </center>




						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content_middle">

    <div class="footer" style="min-height: 200px;">

        <div class="container">

            <div class="footer_grids">
                <div class="footer-grid">
                    <h4>Our Features</h4>
                    <ul class="list1">
                        <li><a href="/Retryapp/show">Home</a></li>
                        <li><a href="/Retryapp/popular">New</a></li>
                                <li><a href="/Retryapp/trending">Trending</a></li>
                        <li><a href="/Retryapp/abt">About</a></li>
                        <li><a href="/Retryapp/feedback">Feedback</a></li>
                        <li><a href="/Retryapp/contact">Contact Us </a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h4>Additional Features</h4>
                    <ul class="list1">
                       <li><a href="/Retryapp/profile">Profile</a></li>
                    <li><a href="/Retryapp/added">Manage Application </a></li>
                    <li><a href="/Retryapp/result">Result</a></li>
                         <li><a href="/Retryapp/logout">Logout</a></li>

                    </ul>
                </div>
                <div class="footer-grid last_grid">
                    <a href="/Retryapp/show"><h4>CatchApp</h4></a>
                    <ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s" style="color: white">
                        <li>Think before you download...</li>
                        <li>Detect Fraud Application and get better suggestion</li>

                    </ul>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</body>
</html>		